@charset "utf-8";
@use "sass:math";

@import url("https://fonts.googleapis.com/css?family=Lora:400,700,400i,700i|Roboto:100,300,300i,400,400i,700&display=swap&subset=latin-ext");
// VARS, FONTS, COLORS
$family-sans-serif: "Roboto", sans-serif;
$link: #7dafca;
$danger: #e4675f;
$gray1: #8d9da0;
$blue1: #7dafca;
$lightblue1: #bfd7e3;
$green1: #5dae9c;
$lightgreen1: #d5d9b9;
$lightgreen2: #d5e7d7;
$red1: #e4675f;
$ocre1: #eadac5;
$orange1: #eb9560;
$yellow1: #f7d21e;
$black1: #232425;
$white1: #fafafa;
@import "../bulma-0.9.3/bulma.sass";

// HEADER
#phoi-logo-container {
  position: sticky;
  top: 0;
  z-index: 100;
  img.logo {
    height: 157px;
  }
}
#phoi-logo-top {
  background-color: #f4f4f3;
  background-image: url(/header-bg.png);
  background-repeat: repeat-x;
  position: sticky;
  top: 0;
  z-index: 100;
}
.froide #phoi-logo-top {
  background-color: #4b6979;
  background-image: url(/header-bg-dark.png);
}
#phoi-logo-container.phoi-logo-shrinked img.logo {
  height: 100%;
}
nav.navbar {
  //top:50px;
  //position:sticky;
  //z-index:101;
  a.navbar-link {
    text-transform: uppercase;
  }
  .navbar-link:not(.is-arrowless)::after {
    border-color: $black1;
  }
}
.navbar-froide .navbar-link:not(.is-arrowless)::after,
.select:not(.is-multiple):not(.is-loading)::after,
.navbar-chaude .navbar-link:not(.is-arrowless)::after,
.select:not(.is-multiple):not(.is-loading)::after {
  display: none;
}
.navbar-froide .navbar-link:not(.is-arrowless),
.navbar-chaude .navbar-link:not(.is-arrowless) {
  padding-right: 0.75em;
}
nav.navbar.navbar-froide,
nav.navbar.navbar-chaude {
  top: 50px;
  position: sticky;
  z-index: 101;
}
nav.navbar.navbar-froide {
  background-color: #436a7b;
  width: 100%;
  .navbar-item,
  .navbar-link,
  .navbar-burger {
    color: white;
  }
  .navbar-menu,
  a.navbar-item:focus,
  a.navbar-item:focus-within,
  a.navbar-item:hover,
  a.navbar-item.is-active,
  .navbar-link:focus,
  .navbar-link:focus-within,
  .navbar-link:hover,
  .navbar-link.is-active {
    background-color: #436a7b;
  }
}
nav.navbar.navbar-chaude {
  background-color: #f4f4f3;
  width: 100%;
}
.navbar-link {
  margin-right: 30px;
}
.navbar-link.articles {
  border-bottom: 5px solid $lightblue1;
}
.navbar-link.playlists {
  border-bottom: 5px solid $lightgreen1;
}
.navbar-link.podcasts {
  border-bottom: 5px solid $green1;
}
.navbar-link.phonotheque {
  border-bottom: 5px solid $orange1;
}
nav.user-and-lang {
  top: 6px;
  line-height: 3em;
  margin-top: 1em;
  font-size: 0.85em;
  background-color: transparent;
  text-transform: uppercase;

  .navbar-item .icon:only-child,
  .navbar-link .icon:only-child {
    margin-right: 0.25rem;
  }
}
.froide nav.user-and-lang {
  .navbar-item,
  .navbar-link {
    color: white;
  }
  .navbar-link:not(.is-arrowless)::after {
    border-color: white;
  }
}

.froide .navbar-main .navbar-item,
.froide .navbar-main .navbar-dropdown {
  background-color: #436a7b;
}
.froide {
  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: #436a7b;
    font-weight: bold;
  }
}
.navbar-froide .navbar-dropdown {
  background-color: #598da5;
}

nav.user-and-lang-shrinked {
  top: 2px;
  line-height: 1em;
  margin-top: -4px;
}

// FOOTER
.footer.phoi-gray-footer {
  background-color: #8d9da0;
  color: white;
  padding-bottom: 3rem;
}
.footer.phoi-logobar {
  padding-bottom: 3rem;
  .column img {
    width: 100%;
    height: auto;
  }
}
.footer .phoi-social-bar {
  padding-top: 3rem;
}

// GLOBALS & SIMPLE HTML
H2 {
  font-weight: 100;
  font-size: 3.2em;
  padding-top: 1em;
  padding-bottom: 0.2em;
}

// USER ACTIONS : login, logout, register

.phoi-form-login {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  div {
    margin-bottom: 1em;
    margin-top: 1em;
  }
}

// COLLECTIVEACCESS : usual classes
.notification {
  margin-top: 2.5rem;
}

#RegForm {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

// COLLECTIVEACCESS : search results
.browseResultsContainer .jscroll-inner {
}
.browseResultsContainer {
}
.bResultItemCol {
  @extend .card;
  width: 25%;
  //margin-right:1%;
  margin-bottom: 3%;
  @extend .column;
  float: left;
  flex: auto;
  padding-right: 1%;
  background-color: white;
  border: none;
  box-shadow: none;
}
.bResultItemImg {
  height: 300px;
  overflow: hidden;
}
.bResultItemText {
  height: 90px;
  overflow: hidden;
}

// FRONT: partie froide
.infosprincipales {
  max-height: 220px;
  overflow-y: scroll;
}

.card-content {
  padding: 1.5rem;
}

h1.titre-phonogramme {
  text-align: center;
  font-weight: 100;
  font-size: 1.8em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
h1.edit-form,
h1.add-form {
  text-transform: capitalize;
  font-weight: 100;
  font-size: 1.8em;
  padding-top: 1em;
  padding-bottom: 0.5em;
}
.list-items .card {
  width: 220px;
  display: inline-block;
}
.content figure {
  margin: 0;
}
.card .media:not(:last-child) {
  margin-bottom: 0.5rem;
}

.content ul {
  list-style: none;
  margin: 0 !important;
}

.content ol {
  margin: 1.5rem;
  line-height: 2rem;
}

.card-header-title {
  align-items: baseline !important;
}

.card-content-item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.card-content-item p {
  margin: 0 !important;
}

.tab {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
  padding: 2rem;
  height: 2em;
  color: #efefef;
  text-transform: uppercase;
}

.tag:link {
  background-color: #bfd7e3 !important;
  border-radius: 2px !important;
  color: #232425;
  border-bottom: 0.15em solid #232425;
}
.tab:hover {
  color: #232425;
  background-color: #efefef;
  border-bottom: none;
  padding: 2rem;
  cursor: pointer;
}

.tab:active {
  color: #232425;
  border-bottom: 0.15em solid #232425;
}

.add-form select {
  @extend .select;
}
.alpaca-field input {
  @extend .input;
}

textarea.alpaca-control {
  display: block;
  width: 100%;
  min-height: 500px;
}
.alpaca-form-button-submit {
  @extend .button;
  @extend .is-primary;
}
.alpaca-form-button-cancel {
  @extend .button;
  @extend .is-warning;
}

/// card-header-icon : only on hover
.card .card-header-icon,
.card-content-item .card-content-icon {
  display: none;
}
.player-list .card-content-item {
  cursor: pointer;
}
.player-icons {
  .mdi-play,
  .mdi-stop,
  .mdi-playlist-plus {
    cursor: pointer;
  }
  .mdi-skip-previous,
  .mdi-skip-next {
    cursor: not-allowed;
  }
}

// FRONT : partie chaude
.derniers-contenus {
  .card-content {
    h2 {
      margin: 0;
      padding: 8px 0;
    }
    h3 {
      font-weight: 300;
      margin: 0;
      padding: 2px 0 16px 0;
    }
  }
  .card-footer-item {
    justify-content: left;
    padding: 0.75rem 1.5rem;
  }
}

.article-phoi,
.exposition-phoi,
.podcast-phoi,
.playlist-phoi {
  margin: 0;
  padding: 0;

  @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,700&display=swap");

  .breadcrumb {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #bfd7e3;
    padding: 1rem;
    line-height: 19px;
    color: #232425 !important;
    width: 100vw;
  }

  .breadcrumb a {
    color: #232425 !important;
  }

  .breadcrumb li + li::before {
    color: #232425 !important;
  }

  .ariane {
    padding-left: 0.5rem;
  }

  .level-left,
  .level-right {
    flex-direction: column;
    align-items: baseline;
  }

  h1.title {
    font-size: 2.25rem;
    line-height: 2.6rem;
    color: #232425;
  }

  h1.subtitle {
    font-size: 2.25rem;
    font-weight: 200;
  }

  .published-by {
    font-family: "Lora", serif;
    font-style: italic !important;
    color: #8d9da0;
  }

  .publisher {
    color: #e4675f;
    font-weight: 600;
  }

  .article-content {
    padding: 0 22% 0 22%;
    font-family: "Lora", serif;
  }

  .article-content h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 0 !important;
    color: #000000;
  }

  .article-content h4 {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 19px;
    text-transform: uppercase;
    color: #000000;
    padding-top: 2rem;
    padding-bottom: 0.8rem;
  }

  .article-content p {
    margin-bottom: 2rem;
    text-align: left;
    font-style: normal;
    color: #232425;
  }

  .article-content p:last-child {
    margin-bottom: 0;
  }

  .lead-dropcap p {
    font-style: italic !important;
    font-weight: bold !important;
    font-size: 1.5rem;
    color: #232425;
    line-height: 150%;
    padding: 3rem 0 2rem 0;
  }

  .lead-dropcap p:first-letter {
    color: #7dafca;
    font-size: 72px;
    line-height: 100%;
    float: left;
    padding-right: 0.1em;
  }

  figure {
    margin-top: 1.5rem;
  }

  figcaption {
    font-family: "Lora", serif;
    font-size: 1rem;
    line-height: 21px;
    font-style: italic !important;
    color: #8d9da0 !important;
    padding-left: 1rem;
  }

  .image-full {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .image-full img {
    min-width: 100% !important;
  }
  .image-with-text {
    padding-top: 40px;
  }

  .image-with-text,
  .image-row {
    width: 50vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -25vw;
    margin-right: -25vw;
    justify-content: center;
    align-items: center;
  }

  .image-with-text img {
    min-width: 100% !important;
  }

  #soundplayertitle {
    justify-content: space-around;
  }

  #related-playlist,
  #now-playing {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  #related-playlist {
    min-height: 10rem;
    background-color: #f2f2f2;
  }

  #now-playing {
    min-height: 10rem;
    background: #efefef;
    opacity: 0.5;
  }

  sup a {
    vertical-align: super;
    text-decoration: underline;
    font-size: 80%;
    color: #e4675f;
  }

  blockquote p,
  .quote {
    border-left-style: outset;
    border-left-color: rgba(0, 0, 0, 0.15);
    border-left-width: 5px;
    padding-left: 14px;
    margin-left: 20px;
    font-style: italic !important;
  }

  .footnotes {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 150%;
  }

  .footnotes ol {
    list-style: none;
    counter-reset: red-counter;
  }

  ol li {
    counter-increment: red-counter;
  }

  ol li::before {
    content: counter(red-counter) ". ";
    color: #e4675f;
  }

  #videoplayer {
    .progress {
      max-width: 65%;
      height: 0.25rem;
    }
    .video-title {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 1rem;
      line-height: 150%;
      padding-bottom: 0.5rem;
    }
    .video-artist {
      font-weight: 300;
    }
  }
}

.articles-phoi {
  .breadcrumb {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    background-color: #bfd7e3;
    padding: 1rem;
    line-height: 19px;
    color: #232425 !important;
    width: 100vw;
  }

  .breadcrumb a {
    color: #232425 !important;
  }

  .breadcrumb li + li::before {
    color: #232425 !important;
  }

  .ariane {
    padding-left: 0.5rem;
  }

  .page-title {
    margin-top: 50px;
    margin-bottom: 32px;
    font-size: 2.25rem !important;
    font-weight: 200 !important;
    line-height: 42px;
    padding-left: 0.6rem;
  }

  .level-item em {
    color: #e4675f;
    font-style: normal !important;
  }

  .display-options {
    padding-left: 0.6rem;
    justify-content: space-between;
    margin-bottom: 1rem !important;
  }

  .level-item .red {
    color: #e4675f !important;
  }

  .add-new {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }

  .dropdown-content {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
    background: #fafafa;
  }

  hr {
    margin: 0 0.6rem 3.125rem 0.6rem !important;
  }

  .author {
    text-transform: uppercase;
    color: #7dafca;
    font-size: 0.75rem;
    line-height: 150%;
  }

  .date {
    color: #8d9da0;
    font-size: 0.75rem;
  }

  .card {
    margin: 0.5rem 0.5em 3rem 0.5rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  }

  .card-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5rem !important;
  }

  .card-title {
    font-size: 1.18rem !important;
    margin: 0 !important;
    padding-top: 0 !important;
  }

  .card-subtitle {
    font-size: 1.18rem !important;
    margin-top: 0 !important;
    font-weight: 300 !important;
  }

  .card-footer-item {
    color: #e4675f;
    text-decoration: underline;
    justify-content: flex-start !important;
    padding-left: 1.5rem;
  }

  .display-options .button {
    border-color: #ffffff;
  }

  .more {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .action-btn {
    background-color: #e4675f !important;
    color: #ffffff !important;
    border-radius: 2px;
    text-align: center;
  }

  .action-btn:hover,
  .action-btn.is-hovered {
    background-color: #ffffff !important;
    color: #e4675f !important;
    border: 2px solid #e4675f;
    box-sizing: border-box;
    border-radius: 2px;
  }
}

.all-articles-phoi,
.all-expositions-phoi,
.all-podcasts-phoi {
  .columns {
    flex-flow: wrap;
  }
  .breadcrumb {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 1rem;
    line-height: 19px;
    color: #232425 !important;
    width: 100vw;
  }

  .breadcrumb a {
    color: #232425 !important;
  }

  .breadcrumb li + li::before {
    color: #232425 !important;
  }

  .ariane {
    padding-left: 0.5rem;
  }

  .page-title {
    margin-top: 50px;
    margin-bottom: 32px;
    font-size: 2.25rem !important;
    font-weight: 200 !important;
    line-height: 42px;
    padding-left: 0.6rem;
  }

  .level-item em {
    color: #e4675f;
    font-style: normal !important;
  }

  .display-options {
    padding-left: 0.6rem;
    justify-content: space-between;
    margin-bottom: 1rem !important;
  }

  .level-item .red {
    color: #e4675f !important;
  }

  .add-new {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }

  .dropdown-content {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
    background: #fafafa;
  }

  hr {
    margin: 0 0.6rem 3.125rem 0.6rem !important;
  }

  .display-options .button {
    border-color: #ffffff;
  }

  .author {
    text-transform: uppercase;
    color: #7dafca;
    font-size: 0.75rem;
    line-height: 150%;
  }

  .date {
    color: #8d9da0;
    font-size: 0.75rem;
  }

  .card {
    margin: 0.5rem 0.5em 3rem 0.5rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  }

  .card-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5rem !important;
  }

  .card-title {
    font-size: 1.18rem !important;
    margin: 0 !important;
    padding-top: 0 !important;
  }

  .card-subtitle {
    font-size: 1.18rem !important;
    margin-top: 0 !important;
    font-weight: 300 !important;
  }

  .card-footer-item {
    color: #e4675f;
    text-decoration: underline;
    justify-content: flex-start !important;
    padding-left: 1.5rem;
  }

  .display-options .button {
    border-color: #ffffff;
  }

  .more {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .action-btn {
    background-color: #e4675f !important;
    color: #ffffff !important;
    border-radius: 2px;
    text-align: center;
  }

  .action-btn:hover,
  .action-btn.is-hovered {
    background-color: #ffffff !important;
    color: #e4675f !important;
    border: 2px solid #e4675f;
    box-sizing: border-box;
    border-radius: 2px;
  }
}

.playlist-phoi .breadcrumb {
  background-color: #d5d9b9;
}

.index-articles-phoi, .index-expositions-phoi, .index-podcasts-phoi {
  .columns {
    flex-flow: wrap;
  }
  .breadcrumb {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 1rem;
    line-height: 19px;
    color: #232425 !important;
    width: 100vw;
  }

  .breadcrumb a {
    color: #232425 !important;
  }

  .breadcrumb li+li::before {
    color: #232425 !important;
  }

  .ariane {
    padding-left: 0.5rem;
  }

  .page-title {
    margin-top: 50px;
    margin-bottom: 32px;
    font-size: 2.25rem !important;
    font-weight: 200 !important;
    line-height: 42px;
    padding-left: 0.6rem;
  }

  .level-item em {
    color: #E4675F;
    font-style: normal !important;
  }

  .display-options {
    padding-left: 0.6rem;
    justify-content: space-between;
    margin-bottom: 1rem !important;
  }

  .level-item .red {
    color: #E4675F !important;
  }

  .add-new {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }

  .dropdown-content {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.24), 0px 0px 8px rgba(0, 0, 0, 0.12);
    background: #FAFAFA;
  }

  hr {
    margin: 0 0.6rem 3.125rem 0.6rem !important;
  }

  .author {
    text-transform: uppercase;
    color: #7DAFCA;
    font-size: 0.75rem;
    line-height: 150%;
  }

  .date {
    color: #8D9DA0;
    font-size: 0.75rem;
  }

  .card {
    margin: 0.5rem 0.5em 3rem 0.5rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  }

  .card-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5rem !important;
  }

  .card-title {
    font-size: 1.18rem !important;
    margin: 0 !important;
    padding-top: 0 !important;
  }

  .card-subtitle {
    font-size: 1.18rem !important;
    margin-top: 0 !important;
    font-weight: 300 !important;
  }

  .card-footer-item {
    color: #E4675F;
    text-decoration: underline;
    justify-content: flex-start !important;
    padding-left: 1.5rem;
  }

  .display-options .button {
    border-color: #FFFFFF;
  }

  .more {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .action-btn {
    background-color: #E4675F !important;
    color: #FFFFFF !important;
    border-radius: 2px;
    text-align: center;
  }

  .action-btn:hover,
  .action-btn.is-hovered {
    background-color: #FFFFFF !important;
    color: #E4675F !important;
    border: 2px solid #E4675F;
    box-sizing: border-box;
    border-radius: 2px;
  }
}

.all-articles-phoi, .index-articles-phoi {
  .breadcrumb {
    background-color: #bfd7e3;
  }
}

.all-expositions-phoi, .index-expositions-phoi {
  .breadcrumb {
    background-color: #eb9560;
  }
}
.all-podcasts-phoi, .index-podcasts-phoi {
  .breadcrumb {
    background-color: #5dae9c;
  }
}

// MEDIA QUERIES
@media screen and (max-width: 768px) {
  .display-options {
    flex-direction: column;
    margin-top: 0 !important;
  }
  .level-right button {
    padding: 0 !important;
  }
  .level-item {
    justify-content: flex-start;
  }
}

#is-playing {
  background-color:#efefef;
}
.card {
  &.is-horizontal {
    display: flex;

    .card-image {
      width: 100%;
      height: 100%;
    }

    .card-stacked {
      flex-direction: column;
      flex: 1 1 auto;
      display: flex;
      position: relative;

      .card-content {
        flex-grow: 1;
      }
    }
  }
}

#alecoute{
  margin-top:40px;
  width: 100%;
}
#alecoute_wrapper {
  margin-top:50px;
  margin-bottom:30px;
}
#lastplaylists_wrapper{
  margin-top:0px;
  margin-bottom:30px;
}

table#alecoute,
table#lastplaylists {
  tr {
    background-color: transparent !important;
  }
}

/* --- BROWSE --- */

/* --- SEARCH RESULTS --- */
.list-icon {
  margin-right:10px;
  height:36px;
  width: auto;
  float:left;
}

#search-results-list {
  th {
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0;
    position: relative;
  }
  th.sorting_asc,
  th.sorting_desc {
    background-color: #7dafca;
    border-color: #7dafca;
    color: #fff;
  }
}

#search-results-tiles {
  .tile {
    background-color: #f0f0f0;
    padding:20px;
    border-radius: 6px;
  }
  .tile.is-ancestor,
  .tile.is-parent {
    background-color: transparent;
    padding: 8px 12px ;
    margin-bottom: 0;
  }
}

.views-icons {
  .mdi {
    font-size:28px;
  }
}




.footer.phoi-logobar .column img, .footer.phoi-logobar .bResultItemCol img {
  height:inherit;
  min-height: 0;
  max-height: 100px !important;
  width: inherit;
  min-width: 0;
  max-width: 100px !important;
}
body.chaude #phoi-logo-top a.navbar-item:focus,
body.chaude #phoi-logo-top a.navbar-item:focus-within,
body.chaude a.navbar-item a.navbar-item:focus-within,
body.chaude #phoi-logo-top a.navbar-item:hover,
body.chaude .navbar-dropdown a.navbar-item:hover,
body.chaude #phoi-logo-top a.navbar-item.is-active,
body.chaude #phoi-logo-top .navbar-link:focus,
body.chaude #phoi-logo-top .navbar-link:focus-within,
body.chaude #phoi-logo-top .navbar-link:hover,
body.chaude #phoi-logo-top .navbar-link.is-active,
body.chaude #phoi-logo-top a.navbar-item:hover {
  background-color:#F4F4F3 !important;
  color:#387E9C !important;
}

.froide .navbar-item.has-dropdown:focus .navbar-link,
.froide .navbar-item.has-dropdown:hover .navbar-link,
.froide .navbar-item.has-dropdown.is-active .navbar-link,
nav.navbar.navbar-froide a.navbar-item:focus-within,
nav.navbar.navbar-froide a.navbar-item:hover {
  background-color: #588DA4;
  font-weight: normal !important; }

.is-hoverable.expositions:hover a {
  color:#EC9464 !important;
}
.is-hoverable.phonotheque:hover > a {
  color:#EC9464 !important;
}
.is-hoverable.playlists:hover a {
  color:#85896A !important;
}
.is-hoverable.podcasts:hover a {
  color:#5AAE9C !important;
}

/* MODIFS GM 08/06/2021 */

.list-icon {
  height: 50px;
}

#search-results-tiles .tile {
  padding:4px;
}

p.nom_objet {
  line-height: 18px;
  padding: 3px 0;
  font-size: 12px;
}
.player-icons .icon {
  width:inherit !important;
}

.autocomplete-suggestions {
  overflow:hidden;
  background-color: rgba(255,255,255,0.85);
  padding: 4px 8px;
  color: gray;
  box-shadow:0 0 0 0.125em rgba(125,175,202,0.25);
}

.exposition-phoi .breadcrumb {
  background-color: #EB9560 !important;
}
.playlist-phoi .breadcrumb {
  background-color: #d5d9b9;
}
.podcast-phoi .breadcrumb {
  background-color: #5DAE9C !important;
}

.icon {
  width:1rem;
  height:1rem;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: .625em;
  margin-top: -.4375em;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
  width: .625em;
}

.modal-card {
  margin-top: 250px;
}

.simpleaudio-content {
  border:1px solid lightgray;
  .player-icons {
    font-size:1.5em;
  }
}

#logo-responsive {
  display:none;
}

.navbar-main-items {
  display:none;
}


@media screen and (max-width: 1023px) {
  nav.user-and-lang {
    display:none;
    float:none;    
  }
  .navbar-dropdown .navbar-item {
    padding: 0.5rem 0.75rem;
  }
  #phoi-logo-container {
    height:1px !important;
  }

  nav.user-and-lang {
    top: 42px !important;
    background-color: #F4F4F3;
    border-bottom: 2px solid #D4D4D3;
  }
  nav.navbar.navbar-chaude {
    position:inherit;
    top: -65px;
  }
  #phoi-logo-top {
    background:none !important;
  }
  #phoi-logo-container.phoi-logo-shrinked a {
    //display:none;
  }
  #logo-responsive {
    display:inline-block;
    
    img {
      height:50px !important;
    }
  }
  .logo {
    display:none;
  }
  .navbar-burger {
    display: inline-block;
    float:right;
  }
 
  H2 {
    font-weight: 100;
    font-size: 1.6em;
    padding-top: 0.3em;
    padding-bottom: 0.06em;
  }
  .content h2 {
    font-size: 1.25em;
  }
  .content h3 {
    font-size: 1.1em;
  }
  .card-image figure img {
    object-fit: contain !important;
  }
  .navbar-main-items {
    display:block;
  }

  nav.navbar.navbar-froide, nav.navbar.navbar-chaude {
    top: 0px;
  }
  .froide nav.user-and-lang {
    background-color:#588DA4 !important;
  }
  .navbar-link {
    margin-right: 0;
  }
  nav.user-and-lang-shrinked {
    padding-top:2px;
  }
  nav.user-and-lang-shrinked > a.navbar-item {
    display: inline-block;
    width: 30%;
    background-color:rgba(0,0,0,0.1);
    font-size: 10px;

  }
  .select:not(.is-multiple):not(.is-loading)::after, .add-form select:not(.is-multiple):not(.is-loading)::after, .navbar-link:not(.is-arrowless)::after {
    content:none;
  }
  .navbar-lang > .navbar-link {display:none;}
  .navbar-lang .navbar-dropdown .navbar-item {
    display: inline-block;
  }
  p.bouton-visite,
  p.bouton-archives {
    width: 100%;
    a.button {
      width: 100%;
    }
  }
  i.mdi-map-search-outline {
    font-size: 20px;
    padding-left: 14px;
  }

  body.froide .navbar-dropdown {
    padding-top:0;
    padding-bottom: 0;
  }

  .is-playing .column {
    padding-bottom: 0;
    padding-top: 0;
    display: inline-block;
    width: 30%;
    flex-basis: inherit;
    flex-grow:  inherit;
    flex-shrink:  inherit;
    padding: 0;
  }
  article.gmain {
    padding-left: 0px;
    padding-right:0;
  }
  span#title {
    display: inline-block;
    width:74px;
    font-size:9px;
    overflow: hidden;
    white-space:nowrap;
    max-width: 74px;
    text-overflow: ellipsis;
  }
}  